extends layout

block content 
  h1=title 
  ul 
    li 
      a(href='/users/complains/student_complains')  Complains(for students) 
    li 
      a(href='/users/complains/staff_complains')  Resolve(for staff) 