extends layout

block content 
  h1=title 
  ul 
    li 
      a(href='/users/complains/student_complains') Student complains 
    li 
      a(href='/users/complains/staff_complains') Staff complains 